[gerrit]
	basePath = git
	serverId = 7bea1492-1540-43d0-8305-21f131832f72
	canonicalWebUrl = http://gerrit.codepasser.io
[database]
	type = postgresql
	database = gerrit
	hostname = 172.17.0.7
	port = 5432
	username = gerrit
[index]
	type = LUCENE
[auth]
	type = LDAP
	gitBasicAuthPolicy = LDAP
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
	enable = false
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[ldap]
	server = ldap://172.16.20.141:389
    	username = cn=admin,dc=codepasser,dc=io
    	password = Sa*963.-+
	accountBase = dc=codepasser,dc=io
    	accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
    	accountFullName = displayName
    	accountEmailAddress = mail
    	sslVerify = false
    	groupBase = dc=PROJECT-DOMAIN,dc=codepasser,dc=io
    	groupScope = one
[plugins]
	allowRemoteAdmin = true
[plugin "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
[gitweb]
	cgi = /usr/share/gitweb/gitweb.cgi
	type = gitweb
