# Here follows entries for some specific programs
# The MySQL server
[mysqld]
#user                           = mysql
#port                           = 3306
#pid-file	                    = /var/run/mysqld/mysqld.pid
#socket		                    = /var/run/mysqld/mysqld.sock
#datadir                        = /var/lib/mysql
#log-error	                    = /var/log/mysql/error.log
# By default we only accept connections from localhost
#bind-address                   = 127.0.0.1

default-storage-engine          = InnoDB
default_authentication_plugin   = mysql_native_password
character-set-client-handshake  = FALSE
character_set_server            = utf8mb4
character_set_filesystem        = utf8mb4
collation-server                = utf8mb4_general_ci

lower_case_table_names          = 2
max_connections                 = 1000
wait_timeout                    = 604800
interactive_timeout             = 604800

key_buffer_size                 = 400M
max_allowed_packet              = 64M
table_open_cache                = 512
sort_buffer_size                = 2M
net_buffer_length               = 1M
read_buffer_size                = 2M
read_rnd_buffer_size            = 8M
myisam_sort_buffer_size         = 8M

innodb_buffer_pool_size         = 2G
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 2
innodb_io_capacity              = 500
innodb_log_file_size            = 512M

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
group_concat_max_len = 102400

# Disabling symbolic-links is default,recommended to prevent assorted security risks
#skip_symbolic_links            = yes
skip_name_resolve               = yes

# Master-Slave Replication sync
log-bin=mysql-bin                   #开启log bin
binlog_format=mixed                 #日志格式
server-id=2                         #注意:master机器设置了1,这里设置跟master不同的server id
binlog_expire_logs_seconds=604800   #日志保存时间7天
binlog-ignore-db=mysql              #忽略mysql数据库
binlog-ignore-db=information_schema #忽略information_schema数据库
binlog-ignore-db=performance_schema #忽略performance_schema数据库
binlog-do-db=daemon                 #需要同步的数据库
relay_log=relay-bin                 #配置固定中继日志，否则以container id命名
read_only=1                         #配置slave后开启只读模式

[mysql]
default-character-set           = utf8mb4
auto-rehash

[client]
default-character-set           = utf8mb4
